<div *ngIf="hasValidToken">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>u21442453_HW03</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" (click)="Logout()">
        Logout
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/product"> Product Listing </a>
        <a mat-list-item routerLink="/add-product"> Add Product </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!hasValidToken">
  <router-outlet></router-outlet>
</div>
